nav {
    background-color: #3333335e;
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left; /* Center align the navigation items */
}

.navbar li {
    float: left;
}

.nav-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}

.nav-link.active {
    background-color: #4CAF50;
    color: white;
}