body{
    background-color:#333333;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;

}
.content-container{
    max-width: 840px;
    margin: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 120vh; /* Full viewport height */
}
h1 h3{
    text-align: center;
}